/*body {100vw}*/
body {background-image: linear-gradient(to left bottom, #e3e2e3, #e0d3e0, #ddc4dd, #d9b4da, #d5a5d7, #d4a3d6, #d3a1d5, #d29fd4, #d3aad5, #d5b6d5, #d5c1d6, #d6ccd6);}
h1{color:rgb(70, 69, 69); font-size: 60px;}
h1{padding: 20px; text-align: center;}
h2{font-size: 40px;
    color:rgb(85, 84, 84)}
h2{padding: 10px; text-align: center;}
h3{color:rgb(94, 93, 93)}
h3{padding: 8px; text-align: center;}
h4{color:rgb(126, 126, 126)}
h4{padding: 5px; text-align: center;}
text{padding: 20px; text-align: center;
color: #424242;}
text{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
text{align-content: center;}

/*img{width: 100%;}*/

.navegacion{list-style-type: none;}
.navegacion{border: 2px;}
.navegacion{line-height: 20px;}
.navegacion li a{text-decoration: none;}
.navegacion li {display:inline-block;}
.navegacion li a{block-size: 50px;}

.navegacion li a{padding: 15px;}
.navegacion li a{margin: 6px;}


/*.linksentrelazados{background-color: rgb(167, 150, 184);}*/
.linksentrelazados{background-color: rgb(248, 248, 248);}
.linksentrelazados{text-align: center; padding-bottom: 5px;}


.consultasBox{text-align: center;}

div .consultasBox iframe {align-items: center; width: 5px;}
div .consultasBoxIm0g {width: 20%;}
/*logos face e insta*/
section .faceInsta{width: 50px;}

body section header{background-color: rgb(75, 74, 74);}
main section div img{border: 10px; color: rgb(85, 84, 84);
                     width: 100%;}
section div p {text-align: center;}
section div p {color: rgb(63, 63, 63);
font-family:Verdana, Tahoma, sans-serif;}

footer{
    text-align: center;
    background-color: rgb(82, 81, 81); 
}

.servicios{ 
     display: grid;
     flex-flow: nowrap;
     background-color: rgba(210, 214, 206, 0.493);
     padding: 10px;
     justify-content: center;}


.productos{
    display:grid;
    grid-template-rows: auto;
     flex-flow: nowrap;
     background-color: rgb(255, 174, 255);
     padding: 10px;
     justify-content: space-evenly;}


     .compra {text-align: center;
              text-size-adjust:center;
              font-size: 20px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        display: flex;}

.card {padding: 2px;}
.carousel-item { width: 80%;}
/*.mainimg{
    height:auto;
    margin: auto;
   
    padding:40px
    overflow: hidden; 
    box-sizing: border-box;
    display: grid;
    grid: gap 10ch;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    grid-auto-rows: 160px;
    grid-template-areas: 
    "img1 img1 img1 img2"
    "img3 img4 img5 img2"
    "img3 img6 img7 img8";
    gap: .8em;
}
.mainimg img{
    width: 95%;
    vertical-align: top;
    height: auto
    objecto-fit: cover;
    background-color: #7371747e;
    transform: translate(100%);
}*/


















@keyframes animacion {
    
}